/*  Ö÷Ò³ÃæÖÐHTML½á¹¹ÑùÊ½
 *  ×î½üÐÞ¸Ä2017_2_12
 */

*{
    font-size: 1.1em;
    text-align: center;
    margin: 0 auto;
}

#story{
    width: 750px;
    height: 100%;
    position: relative;
}

.section{
    position: relative;
}

#music{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 4%;
    right: 4%;
    background: url('../images/music.png') no-repeat;
    background-size: 80px 80px;
    /*width:100% height:100% no-repeat;*/
    z-index: 999;
    cursor: pointer;
    animation: circle 2s infinite;
    -webkit-animation: circle 2s infinite;
}

#story p{
    position: absolute;
    font-family: fantasy, Adobe Fan Heiti Std, sans-serif;

}

.topLeft{
    left: -50%;
    top: 12%;
}

.topRight{
    right: -50%;
    top: 12%;
}

#story .bottomP{
    width: 100%;
    left: 50%;
    transform: translate(-50%, -10%);
    -webkit-transform:translate(-50%, -10%);
    bottom: 5%;
    opacity: 0;
}

.topP{
    width: 100%;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.topLeftEm{
    top: 5%;
    left: 0;
    opacity: 0;
}

#story img{
    position: absolute;
}

.p1 .p1sky{
    width: 100%;
    height: auto;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    -webkit-transform:translate(-50%, -30%);
    z-index: -1;
    opacity: 0;
}

.p1 .p1girl{
    height: 50%;
    width: auto;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p1 .p1boy{
    height: 50%;
    width: auto;
    top: 50%;
    right: 26%;
    transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    opacity: 0;
}

.p2 .p2crrc{
    width: 100%;
    width: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform:translate(-50%, 0);
    z-index: -1;
    opacity: 0;
}

.p2 .p2girl{
    height: 50%;
    width: auto;
    top: 90%;
    left: 26%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p2 .p2boy{
    height: 50%;
    width: auto;
    top: 90%;
    right: 26%;
    transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    opacity: 0;
}

.p3 img{
    width: 100%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    opacity: 0;
}

.p4 .p4girl{
    height: 50%;
    width: auto;
    top: 40%;
    left: -100%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p4 .p4boy{
    height: 50%;
    width: auto;
    top: 40%;
    right: 26%;
    transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    opacity: 0;
}

.p5 .p5girl{
    height: 50%;
    width: auto;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p5 .p5boy{
    height: 50%;
    width: auto;
    top: 50%;
    right: 26%;
    transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    opacity: 0;
}

.p6 .p6girl{
    height: 50%;
    width: auto;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p6 .p6boy{
    height: 50%;
    width: auto;
    top: 50%;
    right: 26%;
    transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    opacity: 0;
}

.p6 .p6floor{
    width: 100%;
    height: auto;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

.p7 .p7suger{
    width: 30%;
    height: auto;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p7 .p7quilt{
    width: 30%;
    height: auto;
    top: 50%;
    right: 30%;
    transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    opacity: 0;
}

.p7 .p7paper{
    width: 30%;
    height: auto;
    top: 80%;
    left: 24%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p7 .p7orange{
    width: 30%;
    height: auto;
    top: 80%;
    right: 24%;
    transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    opacity: 0;
}

.p8 img{
    width: 100%;
    height: auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p9 .p9sky{
    width: 90%;
    height: auto;
    top: 0;
    right: -100%;
    transform: translate(50%, 0);
    -webkit-transform:translate(50%, 0);
    opacity: 0;
}

.p9 .p9us{
    width: 80%;
    height: auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    opacity: 0;
}

.p9 .p9floor{
    width: 100%;
    height: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform:translate(-50%, 0);
    opacity: 0;
}

@keyframes circle{
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}